{%- liquid
  assign section_width = section.settings.width  
  assign bg_color_secondary = section.settings.bg_color_secondary
  assign enable_mobile_height = section.settings.enable_mobile_height
  assign heading_size = section.settings.heading_size | times: 0.01
  assign button_style = section.settings.button_style
  assign secondary_button_style = section.settings.secondary_button_style
  assign add_gutter = section.settings.add_gutter
  assign block_count = section.blocks.size
  assign currency_code_enable = settings.currency_code_enable
  assign animations_enabled = settings.animations_enabled
  assign section_id = 'SectionMosaicGrid--' | append: section.id
  assign section_selector_id = '#' | append: section_id
  assign animation_anchor = section_selector_id
  assign animation_delay = 150

  assign section_class = ''

  if add_gutter
    assign section_class = section_class | append: ' mosaic--spacing'
  else
    assign section_class = section_class | append: ' mosaic--no-spacing'
  endif

  if section.settings.enable_slider_mobile
    assign section_class = section_class | append: ' mosaic--mobile-slider'
  else
    assign section_class = section_class | append: ' mosaic--mobile-grid'
  endif

  if block_count == 1
    assign section_class = section_class | append: ' mosaic--single-block'
  elsif block_count > 1
    assign section_class = section_class | append: ' mosaic--multiple-blocks'
  endif

  case section.settings.height
    when 'fullscreen'
      assign section_height_class = 'mosaic__item--fullscreen'
    when '730'
      assign section_height_class = 'mosaic__item--730'
    when '630'
      assign section_height_class = 'mosaic__item--630'
    when '530'
      assign section_height_class = 'mosaic__item--530'
    when '430'
      assign section_height_class = 'mosaic__item--430'
    when '330'
      assign section_height_class = 'mosaic__item--330'
    when '230'
      assign section_height_class = 'mosaic__item--230'
    when 'auto'
      assign section_height_class = 'mosaic__item--auto'
  endcase

  assign mobile_width = 767
  if mobile_width
  case section.settings.mobile_height
    when 'fullscreen'
      assign mobile_height_class = 'mosaic_mob__item--fullscreen'
    when '720'
      assign mobile_height_class = 'mosaic_mob__item--720'
    when '620'
      assign mobile_height_class = 'mosaic_mob__item--620'
    when '520'
      assign mobile_height_class = 'mosaic_mob__item--520'
    when '420'
      assign mobile_height_class = 'mosaic_mob__item--420'
    when '320'
      assign mobile_height_class = 'mosaic_mob__item--320'
    when '220'
      assign mobile_height_class = 'mosaic_mob__item--220'
    when 'auto'
      assign mobile_height_class = 'mosaic_mob__item--auto'
  endcase
  endif
-%}

{%- style -%}
  {{ section_selector_id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
    {%- unless add_gutter -%}
      --grid-gutter: 0px;
    {%- endunless -%}
  }

  {{ section_selector_id }} .mosaic__item__heading {
    --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }});
  }
{%- endstyle -%}

<section id="{{ section_id }}"
  class="mosaic{{ section_class }} section-padding{% if bg_color_secondary %} bg-secondary{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="mosaic">
  <div class="mosaic__wrapper {{ section_width }}{% if section_width != 'wrapper--full' %} wrapper--no-full{% endif %}">
    {%- if block_count > 0 -%}
      <div class="mosaic__grid" data-grid>
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = ''
            assign block_width = block.settings.width
            assign text_position = block.settings.text_position
            assign subheading = block.settings.subheading
            assign heading = block.settings.title
            assign show_description = block.settings.show_description
            assign show_price = block.settings.show_price
            assign price = ''
            assign text = block.settings.text
            assign has_block_link = false
            assign link = block.settings.link
            assign button_text = block.settings.button_text
            assign secondary_button_text = block.settings.secondary_button_text
            assign secondary_button_link = block.settings.secondary_button_link | default: '#!'
            assign text_color = block.settings.text_color
            assign bg_color = block.settings.bg_color
            assign overlay_opacity = block.settings.overlay_opacity | times: 0.01
            assign animation_delay = forloop.index
            assign block_id = 'MosaicItem--' | append: block.id
            assign block_selector_id = '#' | append: block_id

            case text_position
              when 'left'
                assign text_position_class = 'mosaic__item__content--left'
              when 'center'
                assign text_position_class = 'mosaic__item__content--center'
              when 'right'
                assign text_position_class = 'mosaic__item__content--right'
              when 'bottom-left'
                assign text_position_class = 'mosaic__item__content--bottom-left'
              when 'bottom-right'
                assign text_position_class = 'mosaic__item__content--bottom-right'
              when 'top-left'
                assign text_position_class = 'mosaic__item__content--top-left'
              when 'top-right'
                assign text_position_class = 'mosaic__item__content--top-right'
            endcase

            assign has_image = true
            if block.type == 'text'
              assign has_image = false
            endif

            case block.type
              when 'product'
                assign product = block.settings.product
                assign link = product.url | default: '#!'
                if product != blank
                  assign image = product.featured_media.preview_image
                  assign heading = product.title | strip_html
                  if product.price == 0
                    assign price = 'products.product.free' | t
                  elsif currency_code_enable
                    assign price = product.price | money_with_currency
                  else
                    assign price = product.price | money
                  endif
                else
                  assign heading = 'homepage.onboarding.product_title' | t
                  if currency_code_enable
                    assign price = 10000 | money_with_currency
                  else
                    assign price = 10000 | money
                  endif
                endif

                unless show_price
                  assign price = ''
                endunless

              when 'collection'
                assign collection = block.settings.collection
                assign link = collection.url | default: '#!'
                if collection != blank
                  assign image = block.settings.image | default: collection.image | default: collection.products[0].featured_media.preview_image
                  assign heading = collection.title | strip_html
                  assign text = collection.description | strip_html
                else
                  assign image = block.settings.image | default: ''
                  assign heading = 'homepage.onboarding.collection_title' | t
                  assign text = 'homepage.onboarding.single_collection_description' | t
                endif

                unless show_description
                  assign text = ''
                endunless

              when 'image'
                assign image = block.settings.image
            endcase

            if link != blank and secondary_button_text == blank
              assign has_block_link = true
            endif

            capture block_styles
              if bg_color != 'rgba(0,0,0,0)' and bg_color != blank
                echo '--bg: ' | append: bg_color | append: ';'
              endif
              if overlay_opacity != blank
                echo '--overlay-opacity: ' | append: overlay_opacity | append: ';'
              endif
            endcapture
          -%}

          {%- style -%}
            {{ block_selector_id }} {
              --block_width: {{ block_width }}%;
            }
          {%- endstyle -%}

          {%- capture item_attributes -%}
            id="{{ block_id }}"
            class="mosaic__item mosaic__item--{{ forloop.index }} {{ text_color }}{% if has_block_link %} mosaic__item--block-link{% endif %} {{ section_height_class }} {% if enable_mobile_height %}{{ mobile_height_class }}{% endif %}"
            data-item
            {% if animations_enabled %}
              data-aos="fade"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay | times: 150 }}"
            {% endif %}
            {% if block_styles != blank %}
              style="{{ block_styles }}"
            {% endif %}
            {{ block.shopify_attributes }}
          {%- endcapture -%}

          {%- capture item_image -%}
            <div class="mosaic__item__image">
              {%- if image != blank -%}
                {%- render 'image-fill', is_background: true, img_object: image -%}
              {%- else -%}
                <div class="svg-placeholder{% if block.type == 'image' %} svg-placeholder--image{% endif %}">
                  {%- case block.type -%}
                    {%- when 'product' -%}
                      {%- capture index -%}{% cycle 1,2,3,4,5,6 %}{%- endcapture -%}
                      {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder-svg-filled' }}
                    {%- when 'collection' -%}
                      {%- capture index -%}{% cycle 1,2 %}{%- endcapture -%}
                      {{ 'collection-' | append: index | placeholder_svg_tag: 'placeholder-svg-filled' }}
                    {%- when 'image' -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg-filled' }}
                  {%- endcase -%}
                </div>
              {%- endif -%}
            </div>
          {%- endcapture -%}

          <div {{ item_attributes }}>
            <div class="mosaic__item__inner">
              {%- if has_block_link -%}
                <a href="{{ link }}" class="mosaic__item__image__link">
              {%- endif -%}

              {%- if has_image -%}
                {{ item_image }}
              {%- endif -%}

              <div class="mosaic__item__content {{ text_position_class }}{% if link == blank %} mosaic__item__content--nolink{% endif %}">

                {%- if subheading != blank -%}
                  <p class="mosaic__item__subheading subheading-text">{{ subheading }}</p>
                {%- endif -%}

                {%- if heading != blank -%}
                  <h3 class="mosaic__item__heading{% if has_block_link %} mosaic__item__heading--underline{% endif %} h2">{{ heading }}</h3>
                {%- endif -%}

                {%- if text != blank -%}
                  <div class="mosaic__item__text p">
                    {{- text -}}
                  </div>
                {%- endif -%}

                {%- if price != blank -%}
                  <div class="mosaic__item__price p">
                    {{- price -}}
                  </div>
                {%- endif -%}

                {%- if button_text != blank or secondary_button_text != blank -%}
                  <div class="mosaic__item__buttons">
                    {%- if button_text != blank and has_block_link == false -%}
                      <a href="{{ link }}" class="mosaic__item__btn btn {{ button_style }}">{{ button_text }}
                      {% render 'icon-arrow-right' %}
                      </a>
                    {%- elsif button_text != blank -%}
                      <span class="mosaic__item__btn btn {{ button_style }}">{{ button_text }}{% render 'icon-arrow-right' %}</span>
                    {%- endif -%}

                    {%- if secondary_button_text != blank -%}
                      <a href="{{ secondary_button_link }}" class="mosaic__item__btn btn {{ secondary_button_style }}">{{ secondary_button_text }}{% render 'icon-arrow-right' %}</a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>

              {%- if has_block_link -%}
                </a>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- else -%}
      {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</section>