{% comment %}{%- for i in (1..5) -%}
  {%- assign accordion_title = 'accordion_heading_' | append: forloop.index -%}
  {%- assign accordion_title = block_settings[accordion_title] -%}

  {%- assign accordion_text = 'accordion_text_' | append: forloop.index -%}
  {%- assign accordion_page = 'accordion_page_' | append: forloop.index -%}
  {%- assign accordion_content = block_settings[accordion_page].content | default: block_settings[accordion_text] -%}

  {%- if accordion_title != '' and accordion_content != '' -%}
    {%- capture accordions -%}
      {{- accordions -}}

      <div class="product__accordion">
        <button class="product__accordion__title" aria-controls="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-trigger>
          {{- accordion_title -}}
          {%- render 'icon-toggle-plus' -%}
          {%- render 'icon-toggle-minus' -%}
        </button>

        <div class="product__accordion__content" id="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-container>
          <div class="product__accordion__inner rte" data-collapsible-content>
            {{- accordion_content -}}
          </div>
        </div>
      </div>
    {%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{{- accordions -}}
{% endcomment %}

{%- for i in (1..5) -%}
  {%- assign accordion_title = 'accordion_heading_' | append: forloop.index -%}
  {%- assign accordion_title = block_settings[accordion_title] -%}

  {%- assign accordion_text = 'accordion_text_' | append: forloop.index -%}
  {%- assign accordion_page = 'accordion_page_' | append: forloop.index -%}
  {%- assign accordion_content = block_settings[accordion_page].content | default: block_settings[accordion_text] -%}

  {%- assign metafield_content = 'metafield_content_' | append: forloop.index -%}
  {%- assign metafield_description = block_settings[metafield_content] -%}

  {% assign specification_title = '' %}

  {% comment %}
  {%- assign metainner_content = 'metainner_content_' | append: forloop.index -%}
  {%- assign metainner_description = block_settings[metainner_content] -%}
  
  {% endcomment %}
  {% case block_settings[metafield_content] %}
    {% when 'highlights' %}
      {% if product.metafields.custom.highlights.value != blank %}{% assign metafield_description = product.metafields.custom.highlights.value %}{% endif %}
    {% when 'specifications' %}
    
    {% capture specificationsContent %}
      <table>
        {% if product.metafields.custom.activities != blank %}
        <tr>
          <td class="heading">Activities:</td>
          <td>{{ product.metafields.custom.activities | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.age_group != blank %}
        <tr>
          <td class="heading">Age Group:</td>
          <td>{{ product.metafields.custom.age_group | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.gender != blank %}
        <tr>
          <td class="heading">Gender:</td>
          <td>{{ product.metafields.custom.gender | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.sizerun != blank %}
        <tr>
          <td class="heading">Sizerun:</td>
          <td>{{ product.metafields.custom.sizerun | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.specification_construction != blank %}
        <tr>
          <td class="heading">Construction:</td>
          <td>{{ product.metafields.custom.specification_construction | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.pack_size != blank %}
        <tr>
          <td class="heading">Pack Size:</td>
          <td>{{ product.metafields.custom.pack_size | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.specification_weight != blank %}
        <tr>
          <td class="heading">Weight:</td>
          <td>{{ product.metafields.custom.specification_weight | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.segments_diameter != blank %}
        <tr>
          <td class="heading">Segments Diameter:</td>
          <td>{{ product.metafields.custom.segments_diameter | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_geometry != blank %}
        <tr>
          <td class="heading">Shaft Geometry:</td>
          <td>{{ product.metafields.custom.shaft_geometry | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_shape != blank %}
        <tr>
          <td class="heading">Shaft Shape:</td>
          <td>{{ product.metafields.custom.shaft_shape | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.specification_grip != blank %}
        <tr>
          <td class="heading">Grip:</td>
          <td>{{ product.metafields.custom.specification_grip | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.strap != blank %}
        <tr>
          <td class="heading">Strap:</td>
          <td>{{ product.metafields.custom.strap | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.grip_extension != blank %}
        <tr>
          <td class="heading">Grip Extension:</td>
          <td>{{ product.metafields.custom.grip_extension | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_material != blank %}
        <tr>
          <td class="heading">Shaft Material:</td>
          <td>{{ product.metafields.custom.shaft_material | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_upper_part != blank %}
        <tr>
          <td class="heading">Shaft upper part:</td>
          <td>{{ product.metafields.custom.shaft_upper_part | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_1_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (1):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_1_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_2_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (2):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_2_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_3_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (3):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_3_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_lower_part != blank %}
        <tr>
          <td class="heading">Shaft Lower Part:</td>
          <td>{{ product.metafields.custom.shaft_lower_part | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.folding_system != blank %}
        <tr>
          <td class="heading">Folding System</td>
          <td>{{ product.metafields.custom.folding_system | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.locking_system != blank %}
        <tr>
          <td class="heading">Locking System:</td>
          <td>{{ product.metafields.custom.locking_system | metafield_tag }}</td>
        </tr>
        {% endif %}
           {% if product.metafields.custom.basket != blank %}
        <tr>
          <td class="heading">Basket:</td>
          <td>{{ product.metafields.custom.basket | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.suspension_system != blank %}
        <tr>
          <td class="heading">Suspension System:</td>
          <td>{{ product.metafields.custom.suspension_system | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.tip != blank %}
        <tr>
          <td class="heading">Tip:</td>
          <td>{{ product.metafields.custom.tip | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.size != blank %}
        <tr>
          <td class="heading">Size:</td>
          <td>{{ product.metafields.custom.size | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.storage_bag != blank %}
        <tr>
          <td class="heading">Storage Bag:</td>
          <td>{{ product.metafields.custom.storage_bag | metafield_tag }}</td>
        </tr>
        {% endif %}
      </table>
    {% endcapture %}

    {% when 'more-info' %}
      {% assign metafield_description = product.metafields.custom.more_info %}
  {% endcase %}

  {%- if accordion_title != blank and accordion_content != blank or accordion_title != blank and metafield_description != blank -%}
    {%- capture accordions -%}
      {{- accordions -}}

      <div class="product__accordion" >
        <button class="product__accordion__title" aria-controls="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-trigger>
          {{- accordion_title -}}
          {%- render 'icon-toggle-plus' -%}
          {%- render 'icon-toggle-minus' -%}
        </button>

        <div class="product__accordion__content" id="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-container>      
          <div class="product__accordion__inner rte" data-collapsible-content>
            {% if metafield_description != blank %}
              <div class="accordion_metafield-content">
              {% if block_settings[metafield_content] contains 'highlights' %}
                {% for value in metafield_description %}
                  <div class="inner_accordion">
                    {% if value.highlight_title != blank %}<span class="accordion_inner-title">{{ value.highlight_title }}
                       {%- render 'icon-arrow-up' -%}
                    </span>{% endif %}
                    {% if value.content != blank or value.image != blank %}
                      <div class="metafield-inner_content">
                        {% if value.image != blank %}
                          <div class="left-image_wrap">
                            <img class="lazyload" src="{{ value.image | img_url:'' }}" alt="{{ value.image.alt }}">
                          </div>
                        {% endif %}
                        
                          {% if value.content != blank or value.subtitle != blank %}
                            <div class="right-content {% if value.image == blank %}right-content-wrap{% endif %}">
                              {% if value.subtitle != blank %}<span class="subtitle">{{ value.subtitle }}</span>{% endif %}
                              {% if value.content != blank %}<p>{{ value.content }}</p>{% endif %}
                            </div>
                          {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
                {% else %}
                 {% if block_settings[metafield_content] contains 'specifications' %}    
                  {{ specificationsContent }}
                {% else %}
                   {{ metafield_description }}
                {% endif %}
              {% endif %}
              </div>
            {% else %}
              {{- accordion_content -}}
            {% endif %}
          </div>
        </div>
        
      </div>
    {%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{{- accordions -}}