{% comment %}{%- for i in (1..5) -%}
  {%- assign accordion_title = 'accordion_heading_' | append: forloop.index -%}
  {%- assign accordion_title = block_settings[accordion_title] -%}

  {%- assign accordion_text = 'accordion_text_' | append: forloop.index -%}
  {%- assign accordion_page = 'accordion_page_' | append: forloop.index -%}
  {%- assign accordion_content = block_settings[accordion_page].content | default: block_settings[accordion_text] -%}

  {%- if accordion_title != '' and accordion_content != '' -%}
    {%- capture accordions -%}
      {{- accordions -}}

      <div class="product__accordion">
        <button class="product__accordion__title" aria-controls="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-trigger>
          {{- accordion_title -}}
          {%- render 'icon-toggle-plus' -%}
          {%- render 'icon-toggle-minus' -%}
        </button>

        <div class="product__accordion__content" id="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-container>
          <div class="product__accordion__inner rte" data-collapsible-content>
            {{- accordion_content -}}
          </div>
        </div>
      </div>
    {%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{{- accordions -}}
{% endcomment %}

{% assign opt_1 = settings.option-one | split: '-' %}
{% assign opt_2 = settings.option-two | split: '-' %}
{% assign opt_3 = settings.option-three | split: '-' %}
{% assign opt_4 = settings.option-four | split: '-' %}
{% assign opt_5 = settings.option-five | split: '-' %}
{% assign opt_6 = settings.option-six | split: '-' %}
{% assign opt_7 = settings.option-seven | split: '-' %}
{% assign opt_8 = settings.option-eight | split: '-' %}
{% assign opt_9 = settings.option-nine | split: '-' %}
{% assign opt_10 = settings.option-ten | split: '-' %}

<select class="form-control hidden" name="category" id="category">
  {% if settings.option-one != blank %}<option value="{{ opt_1[0] | handle }}" data-title="{{ opt_1[0] | split: '|' }}" data-classic="{{ opt_1[1] }}" data-skate="{{ opt_1[2] }}">{{ opt_1[0] }}</option>{% endif %}
  {% if settings.option-two != blank %}<option value="{{ opt_2[0] | handle }}" data-title="{{ opt_2[0] | split: '|' }}" data-classic="{{ opt_2[1] }}" data-skate="{{ opt_2[2] }}">{{ opt_2[0] }}</option>{% endif %}
  {% if settings.option-three != blank %}<option value="{{ opt_3[0] | handle }}" data-title="{{ opt_3[0] | split: '|' }}" data-classic="{{ opt_3[1] }}" data-skate="{{ opt_3[2] }}">{{ opt_3[0] }}</option>{% endif %}
  {% if settings.option-four != blank %}<option value="{{ opt_4[0] | handle }}" data-title="{{ opt_4[0] | split: '|'}}" data-classic="{{ opt_1[1] }}" data-skate="{{ opt_4[2] }}">{{ opt_4[0] }}</option>{% endif %}
  {% if settings.option-five != blank %}<option value="{{ opt_5[0] | handle }}" data-title="{{ opt_5[0] | split: '|' }}" data-classic="{{ opt_5[1] }}" data-skate="{{ opt_5[2] }}">{{ opt_5[0] }}</option>{% endif %}
  {% if settings.option-six != blank %}<option value="{{ opt_6[0] | handle }}" data-title="{{ opt_6[0] | split: '|' }}" data-classic="{{ opt_6[1] }}" data-skate="{{ opt_6[2] }}">{{ opt_6[0] }}</option>{% endif %}
  {% if settings.option-seven != blank %}<option value="{{ opt_7[0] | handle }}" data-title="{{ opt_7[0] | split: '|' }}" data-classic="{{ opt_7[1] }}" data-skate="{{ opt_7[2] }}">{{ opt_7[0] }}</option>{% endif %}
  {% if settings.option-eight != blank %}<option value="{{ opt_8[0] | handle }}" data-title="{{ opt_8[0] | split: '|' }}" data-classic="{{ opt_8[1] }}" data-skate="{{ opt_8[2] }}">{{ opt_8[0] }}</option>{% endif %}
  {% if settings.option-nine != blank %}<option value="{{ opt_9[0] | handle }}" data-title="{{ opt_9[0] | split: '|' }}" data-classic="{{ opt_9[1] }}" data-skate="{{ opt_9[2] }}">{{ opt_9[0] }}</option>{% endif %}
  {% if settings.option-ten != blank %}<option value="{{ opt_10[0] | handle }}" data-title="{{ opt_10[0] | split: '|' }}" data-classic="{{ opt_10[1] }}" data-skate="{{ opt_10[2] }}">{{ opt_10[0] }}</option>{% endif %}
</select>

{%- for i in (1..5) -%}
  {%- assign accordion_title = 'accordion_heading_' | append: forloop.index -%}
  {%- assign accordion_title = block_settings[accordion_title] -%}

  {%- assign accordion_text = 'accordion_text_' | append: forloop.index -%}
  {%- assign accordion_page = 'accordion_page_' | append: forloop.index -%}
  {%- assign accordion_content = block_settings[accordion_page].content | default: block_settings[accordion_text] -%}

  {%- assign metafield_content = 'metafield_content_' | append: forloop.index -%}
  {%- assign metafield_description = block_settings[metafield_content] -%}

  {% assign specification_title = '' %}

  {% comment %}
  {%- assign metainner_content = 'metainner_content_' | append: forloop.index -%}
  {%- assign metainner_description = block_settings[metainner_content] -%}
  
  {% endcomment %}
  {% case block_settings[metafield_content] %}
    {% when 'highlights' %}
      {% if product.metafields.custom.highlights.value != blank %}{% assign metafield_description = product.metafields.custom.highlights.value %}{% endif %}
    {% when 'specifications' %}
    
    {% capture specificationsContent %}
      <table>
        {% if product.metafields.custom.activities != blank %}
        <tr>
          <td class="heading">Activities:</td>          
          <td class="select-activities">
            {{ product.metafields.custom.activities | metafield_tag }}
          </td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.age_group != blank %}
        <tr>
          <td class="heading">Age Group:</td>
          <td>{{ product.metafields.custom.age_group | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.gender != blank %}
        <tr>
          <td class="heading">Gender:</td>
          <td>{{ product.metafields.custom.gender }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.sizerun != blank %}
        <tr>
          <td class="heading">Sizerun:</td>
          <td>{{ product.metafields.custom.sizerun }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.construction != blank %}
        <tr>
          <td class="heading">Construction:</td>
          <td>{{ product.metafields.custom.construction }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.pack_size != blank %}
        <tr>
          <td class="heading">Pack Size:</td>
          <td>{{ product.metafields.custom.pack_size }}</td>
        </tr>
        {% endif %}        
         {% for variant in product.variants %}
          {% assign weight_val = variant.metafields.custom.weight %}
           {% assign weight_list =  weight_list | append: weight_val | append : ', '  %}
        {% endfor %}
        {%- assign weight_array = weight_list | split: ', ' | join: ' , ' -%}
        {% if weight_array != blank %}
        <tr>
          <td class="heading">Weight:</td>
          <td>{{ weight_array }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.segments_diameter != blank %}
        <tr>
          <td class="heading">Segments Diameter:</td>
          <td>{{ product.metafields.custom.segments_diameter }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_geometry != blank %}
        <tr>
          <td class="heading">Shaft Geometry:</td>
          <td>{{ product.metafields.custom.shaft_geometry | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_shape != blank %}
        <tr>
          <td class="heading">Shaft Shape:</td>
          <td>{{ product.metafields.custom.shaft_shape | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.grip != blank %}
        <tr>
          <td class="heading">Grip:</td>
          <td>{{ product.metafields.custom.grip | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.strap != blank %}
        <tr>
          <td class="heading">Strap:</td>
          <td>{{ product.metafields.custom.strap }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.grip_extension != blank %}
        <tr>
          <td class="heading">Grip Extension:</td>
          <td>{{ product.metafields.custom.grip_extension | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_material != blank %}
        <tr>
          <td class="heading">Shaft Material:</td>
          <td>{{ product.metafields.custom.shaft_material }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_upper_part != blank %}
        <tr>
          <td class="heading">Shaft upper part:</td>
          <td>{{ product.metafields.custom.shaft_upper_part }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_1_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (1):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_1_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_2_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (2):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_2_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_middle_part_3_ != blank %}
        <tr>
          <td class="heading">Shaft Middle Part (3):</td>
          <td>{{ product.metafields.custom.shaft_middle_part_3_ | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_lower_part != blank %}
        <tr>
          <td class="heading">Shaft Lower Part:</td>
          <td>{{ product.metafields.custom.shaft_lower_part }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.folding_system != blank %}
        <tr>
          <td class="heading">Folding System</td>
          <td>{{ product.metafields.custom.folding_system }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.locking_system != blank %}
        <tr>
          <td class="heading">Locking System:</td>
          <td>{{ product.metafields.custom.locking_system }}</td>
        </tr>
        {% endif %}
        
          {% for variant in product.variants %}
            {% assign basket_val = variant.metafields.custom.basket %}
            {% assign basket_list =  basket_list | append: basket_val | append : ', '  %}
          {% endfor %}
        {%- assign basket_array = basket_list | split : ', ' | uniq | join: ' , ' -%}
        {% if basket_array != blank %} 
        <tr>
          <td class="heading">Basket:</td>          
          <td>{{ basket_array }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.suspension_system != blank %}
        <tr>
          <td class="heading">Suspension System:</td>
          <td>{{ product.metafields.custom.suspension_system | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.tip != blank %}
        <tr>
          <td class="heading">Tip:</td>
          <td>{{ product.metafields.custom.tip }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.specification_sizes != blank %}
        <tr>
          <td class="heading">Size:</td>
          <td>{{ product.metafields.custom.specification_sizes | metafield_tag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.storage_bag != blank %}
        <tr>
          <td class="heading">Storage Bag:</td>
          <td>{{ product.metafields.custom.storage_bag }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.unit != blank %}
        <tr>
          <td class="heading">Unit:</td>
          <td>{{ product.metafields.custom.unit }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.grip_strap_glove_system != blank %}
        <tr>
          <td class="heading">Grip Strap:</td>
          <td>{{ product.metafields.custom.grip_strap_glove_system }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.number_of_segments != blank %}
        <tr>
          <td class="heading">Number of segments:</td>
          <td>{{ product.metafields.custom.number_of_segments }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_material_filter_sort != blank %}
        <tr>
          <td class="heading">Shaft Material Filter Sort:</td>
          <td>{{ product.metafields.custom.shaft_material_filter_sort }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.grip_size != blank %}
        <tr>
          <td class="heading">Grip size:</td>
          <td>{{ product.metafields.custom.grip_size }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.strap_size != blank %}
        <tr>
          <td class="heading">Strap size:</td>
          <td>{{ product.metafields.custom.strap_size }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.antishock_system != blank %}
        <tr>
          <td class="heading">Antishock system:</td>
          <td>{{ product.metafields.custom.antishock_system }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.tip_spike != blank %}
        <tr>
          <td class="heading">Tip Spike:</td>
          <td>{{ product.metafields.custom.tip_spike }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.exchange_basket != blank %}
        <tr>
          <td class="heading">Exchange Basket:</td>
          <td>{{ product.metafields.custom.exchange_basket }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.rubber_tip_pad != blank %}
        <tr>
          <td class="heading">Rubber Tip Pad:</td>
          <td>{{ product.metafields.custom.rubber_tip_pad }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.shaft_weight_per_meter != blank %}
        <tr>
          <td class="heading">Shaft Weight Per Meter:</td>
          <td>{{ product.metafields.custom.shaft_weight_per_meter }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.glove_fit != blank %}
        <tr>
          <td class="heading">Glove Fit:</td>
          <td>{{ product.metafields.custom.glove_fit }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.features != blank %}
        <tr>
          <td class="heading">Features:</td>
          <td>{{ product.metafields.custom.features }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.palm_material != blank %}
        <tr>
          <td class="heading">Palm Material:</td>
          <td>{{ product.metafields.custom.palm_material }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.membrane != blank %}
        <tr>
          <td class="heading">Membrane:</td>
          <td>{{ product.metafields.custom.membrane }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.insulation != blank %}
        <tr>
          <td class="heading">Insulation:</td>
          <td>{{ product.metafields.custom.insulation }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.lining != blank %}
        <tr>
          <td class="heading">Lining:</td>
          <td>{{ product.metafields.custom.lining }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.material_info != blank %}
        <tr>
          <td class="heading">Material Info:</td>
          <td>{{ product.metafields.custom.material_info }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.waterproof_level != blank %}
        <tr>
          <td class="heading">Waterproof level:</td>
          <td>{{ product.metafields.custom.waterproof_level }}</td>
        </tr>
        {% endif %}
        {% if product.metafields.custom.warmth_level != blank %}
        <tr>
          <td class="heading">Warmth level:</td>
          <td>{{ product.metafields.custom.warmth_level }}</td>
        </tr>
        {% endif %}
        {% if variant.metafields.custom.basket != blank %}
        <tr>
          <td class="heading">Basket:</td>
          <td>{{ variant.metafields.custom.basket }}</td>
        </tr>
        {% endif %}
      </table>
    {% endcapture %}

    {% when 'more-info' %}
      {% assign metafield_description = product.metafields.custom.more_info.value %}    
  {% endcase %}

  {%- if accordion_title != blank and accordion_content != blank or accordion_title != blank and metafield_description != blank or accordion_title != blank and specificationsContent != blank -%}
    {%- capture accordions -%}
      {{- accordions -}}
      {% if product.metafields.custom.highlights.value != blank or specificationsContent != blank or product.metafields.custom.more_info != blank %}
      <div class="product__accordion">
        <button class="product__accordion__title" aria-controls="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-trigger>
          {{- accordion_title -}}
          {%- render 'icon-toggle-plus' -%}
          {%- render 'icon-toggle-minus' -%}
        </button>

        <div class="product__accordion__content" id="ProductAccordion--page-{{ accordion_title | handle }}-{{ forloop.index }}-{{ section.id }}" data-collapsible-container>      
          <div class="product__accordion__inner rte" data-collapsible-content>
            {% if metafield_description != blank %}
              <div class="accordion_metafield-content">
              {% if block_settings[metafield_content] contains 'highlights' %}
                {% for value in metafield_description %}
                  <div class="inner_accordion">
                    {% if value.subtitle != blank %}<span class="accordion_inner-title">{{ value.subtitle }}
                       {%- render 'icon-arrow-up' -%}
                    </span>{% endif %}
                    {% if value.content != blank or value.image != blank %}
                      <div class="metafield-inner_content">
                        {% if value.image != blank %}
                          <div class="left-image_wrap">
                            <img class="lazyload" src="{{ value.image | img_url:'' }}" alt="{{ value.image.alt }}">
                          </div>
                        {% endif %}
                        
                          {% if value.content != blank or value.highlight_title != blank %}
                            <div class="right-content {% if value.image == blank %}right-content-wrap{% endif %}">
                              {% if value.highlight_title != blank %}<span class="subtitle">{{ value.highlight_title }}</span>{% endif %}
                              {% if value.content != blank %}<p>{{ value.content }}</p>{% endif %}
                            </div>
                          {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
                {% else %}
                 {% if block_settings[metafield_content] contains 'specifications' %}    
                  {{ specificationsContent }}
                {% else %}
                   {{ metafield_description }}
                {% endif %}
              {% endif %}
              </div>
            {% else %}
              {{- accordion_content -}}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{{- accordions -}}

<!-- <script>
document.addEventListener("DOMContentLoaded", function(event) {
  var pole_btn = document.querySelector('#poleSizeAdvisorForm input[type="button"]');
  var select_act = document.querySelector('.select-activities');
  pole_btn.onclick = (calbtn) =>{
    var get_height = document.querySelector('.form-control#height').value;
  };
});
</script> -->