{%- comment -%} sections/main-page.liquid {%- endcomment -%}
{%- liquid
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Page--' | append: section.id
  assign animation_delay = 150
  assign bg_color_secondary = section.settings.bg_color_secondary
-%}

{%- style -%}
  #Page--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  @media(max-width: 1023px){
    #Page--{{ section.id }} {
      --PT: {{ section.settings.tab_padding_top }}px;
      --PB: {{ section.settings.tab_padding_bottom }}px;
    }
  }
  @media(max-width: 767px){
    #Page--{{ section.id }} {
      --PT: {{ section.settings.mob_padding_top }}px;
      --PB: {{ section.settings.mob_padding_bottom }}px;
    }
  }
{%- endstyle -%}



{% assign customerDowncaseTags = customer.tags | downcase %}

{%- if section.settings.show_page_title or page.content != blank -%}
  <section id="Page--{{ section.id }}" class="section-default section-padding{% if bg_color_secondary %} bg-secondary{% endif %}">
    <div class="wrapper">
      {%- if section.settings.show_page_title -%}
        <h1 class="page-title text-center"
          {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
          {% endif %}>
          {{- page.title -}}
        </h1>
      {%- endif -%}

      <div class="rte"
        {% if animations_enabled %}
          data-aos="fade-up"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-delay="{{ animation_delay }}"
          {%- assign animation_delay = animation_delay | plus: 150 -%}
        {% endif %}>
        {% if customer and customerDowncaseTags contains "representative" %}
          {% comment %}
            <div class="representatives-login-form"> 
              <div class="form__message" data-form-message></div>
              <div class="form__item"
                {% if animations_enabled %}
                  data-aos="fade-up"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-delay="{{ animation_delay }}"
                  {%- assign animation_delay = animation_delay | plus: 150 -%}
                {% endif %}
                {{ block.shopify_attributes }}>
                <label for="Form-{{ section.id }}-email" class="hidden-label">Username or Email</label>
                <input type="text" id="Form-{{ section.id }}-email" class="input--full" name="email" placeholder="Username or Email" autocorrect="off" autocapitalize="off"/>
              </div>
              <div class="form__item"
                {% if animations_enabled %}
                  data-aos="fade-up"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-delay="{{ animation_delay }}"
                  {%- assign animation_delay = animation_delay | plus: 150 -%}
                {% endif %}
                {{ block.shopify_attributes }}>
                <label for="Form-{{ section.id }}-password" class="hidden-label">password</label>
                <input type="password" id="Form-{{ section.id }}-password" class="input--full" name="password" placeholder="password" autocorrect="off" autocapitalize="off"/>
              </div>
              <div class="form__item form__item--submit"
                {% if animations_enabled %}
                  data-aos="fade-up"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-delay="{{ animation_delay }}"
                  {%- assign animation_delay = animation_delay | plus: 150 -%}
                {% endif %}>
                <button type="submit" class="btn">Login</button>
              </div>
            </div>
          {% endcomment %}
          <div class="representatives-content"> 
            {{- page.content -}}
          </div>
        {% else %}
            <h3 style="text-align: center;">This page is accessible only from LEKI Representatives</h3>
        {% endif %}
      </div>
    </div>
  </section>
{%- endif -%}

{% comment %}
  <script>
    document.querySelector('.representatives-content').style.display = "none";
    document.querySelectorAll(".representatives-login-form button[type=submit]").forEach(function (submit) {
        submit.addEventListener("click", function (e) {
            var form = this.closest(".representatives-login-form"),
                content = form.nextElementSibling,
                emailInput = form.querySelector(".form__item input[name=email]"),
                passwordInput = form.querySelector(".form__item input[name=password]"),
                showError = form.querySelector(".form__message[data-form-message]");
    
            if (emailInput.value.trim() === "" && passwordInput.value.trim() === "") {
                showError.innerHTML = "<p class='errors'>Please enter value<\/p>";
                emailInput.focus();
            } else {            
                if (emailInput.value === "rep" || emailInput.value === "rep@leki.com") {
                    if (passwordInput.value === "buffalo") {
                        showError.innerHTML = "";
                        content.style.display = "block";
                        form.style.display = "none";
                    } else {
                        showError.innerHTML = "<p class='errors'>Please enter valid password<\/p>";
                        passwordInput.focus();
                    }
                } else {
                    showError.innerHTML = "<p class='errors'>Please enter valid Username or Email<\/p>";
                    emailInput.focus();
                }
            }
        });
    });
  </script>
  <style>
    .representatives-login-form {max-width: 620px;margin: 0 auto;}
    .representatives-login-form .form__message p {margin-bottom: 16px;}
  </style>
{% endcomment %}
{% schema %}
  {
    "name": "Page",
    "class": "shopify-section--page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "checkbox",
        "id": "bg_color_secondary",
        "label": "Background",
        "info": "Use secondary background color",
        "default": false
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "tab_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Tablet Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "tab_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Tablet Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }
    ]
  }
{% endschema %}