{%- liquid
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Athletes--' | append: section.id
  assign animation_delay = 150
-%}
<style>
  #Athletes--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  .athletes-inner-wrap .athletes-card-content-overlay h3, .athletes-inner-wrap .athletes-card-content-overlay span,
  .athletes-nation,.athletes-DOB{
    color: {{ section.settings.content_color }};
  }
</style>

<section
id="Athletes--{{ section.id }}"
class="section-padding"
data-section-type="athletes-form"
data-section-id="{{ section.id }}">
  <div class="{{ section_width }}">
    <div class="athletes-main-wrap">
      {% for block in section.blocks %}
        <div class="athletes-inner-wrap" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %} {% comment %}{% if forloop.index > 4 %}style="display: none;"{% endif %}{% endcomment %} >
          <div class="athletes-inner-content">
            {% if block.settings.athletes_img != blank %}
              <div class="athletes-image">
                <img class="lazyload" src="{{ block.settings.athletes_img | img_url:'' }}" alt="{{ block.settings.athletes_img.alt }}" />
              </div>
            {% endif %}
            <div class="athletes-card-content-overlay hidden-sm">
              <div class="close-overlay">                
                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.88513 17.7002L3.5 16.3151L9.0405 10.7749L3.5 5.23467L4.88513 3.84961L10.4256 9.38983L15.9661 3.84961L17.3513 5.23467L11.8108 10.7749L17.3513 16.3151L15.9661 17.7002L10.4256 12.1599L4.88513 17.7002Z" fill="white"/>
                </svg>
              </div>
              {% if block.settings.athletes_title != blank %}<h3>{{ block.settings.athletes_title }}</h3>{% endif %}
              {% if block.settings.athletes_type != blank %}<span>{{ block.settings.athletes_type }}</span>{% endif %}
              {% if block.settings.athletes_nation != blank %}<div class="athletes-nation">NATION<span>{{ block.settings.athletes_nation }}</span></div>{% endif %}
              {% if block.settings.athletes_dob_year != blank %}<div class="athletes-DOB">YEAR OF BIRTH<span>{{ block.settings.athletes_dob_year }}</span></div>{% endif %}
            </div>
          </div>
          <div class="athletes-content">
            {% if block.settings.athletes_title != blank %}<h4>{{ block.settings.athletes_title }}</h4>{% endif %}
            {% if block.settings.athletes_type != blank %}<span>{{ block.settings.athletes_type }}</span>{% endif %}
          </div>
          <div class="athletes-card-content-overlay hidden-lg">
            <div class="close-overlay">                
              <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.88513 17.7002L3.5 16.3151L9.0405 10.7749L3.5 5.23467L4.88513 3.84961L10.4256 9.38983L15.9661 3.84961L17.3513 5.23467L11.8108 10.7749L17.3513 16.3151L15.9661 17.7002L10.4256 12.1599L4.88513 17.7002Z" fill="white"/>
              </svg>
            </div>
            {% if block.settings.athletes_title != blank %}<h3>{{ block.settings.athletes_title }}</h3>{% endif %}
            {% if block.settings.athletes_type != blank %}<span>{{ block.settings.athletes_type }}</span>{% endif %}
            {% if block.settings.athletes_nation != blank %}<div class="athletes-nation">NATION<span>{{ block.settings.athletes_nation }}</span></div>{% endif %}
            {% if block.settings.athletes_dob_year != blank %}<div class="athletes-DOB">YEAR OF BIRTH<span>{{ block.settings.athletes_dob_year }}</span></div>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="page-loader">      
      {% render 'icon-loading' %}
    </div>
                
  </div>
</section>
<script> 
  document.addEventListener("DOMContentLoaded", function(event) {   
    var athletesImg = document.querySelectorAll(".athletes-image");
    athletesImg.forEach( athletesList => {
      athletesList.onclick  = function(){           
        athletesImg.forEach( athletes => {
            athletes.parentNode.parentNode.classList.remove("active");          
        });    
        athletesList.parentNode.parentNode.classList.add("active"); 
      } 
    });
    // var athletesDiv = document.querySelectorAll(".athletes-card-content-overlay");
    // athletesDiv.forEach( athletesDisc => {
    //   athletesDisc.onclick  = function(){   
    //     athletesImg.forEach( athletesUser => {
    //       athletesUser.classList.remove("active");          
    //     });         
    //   } 
    // });

    var close_overlay = document.querySelectorAll('.close-overlay');
    close_overlay.forEach( closeDisc => {
      closeDisc.onclick  = function(){
        athletesImg.forEach( athletesUser => {
          athletesUser.parentNode.parentNode.classList.remove("active");          
        });
      }
    });

  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  const cardContainer = document.querySelector(".athletes-main-wrap");
  const loader = document.querySelector(".page-loader");
  
  const cardLimit = 100;
  const cardIncrease = 5;
  const pageCount = Math.ceil(cardLimit / cardIncrease);
  let currentPage = 1;
  
  
  var throttleTimer;
  const throttle = (callback, time) => {
    if (throttleTimer) return;
  
    throttleTimer = true;
  
    setTimeout(() => {
      callback();
      throttleTimer = false;
    }, time);
  };
  
  const addCards = (pageIndex) => {
    currentPage = pageIndex;
  
    const startRange = (pageIndex - 1) * cardIncrease;
    const endRange =
      currentPage == pageCount ? cardLimit : pageIndex * cardIncrease;
  
    for (let i = startRange + 1; i <= endRange; i++) {
      if(document.querySelectorAll(".athletes-inner-wrap") != null ){
      const card = document.querySelectorAll(".athletes-inner-wrap");
      card[i].style.display = "block"; 
      //createCard(i);
      }
    }
  };
  
  const handleInfiniteScroll = () => {
    throttle(() => {
      const endOfPage =
        window.pageYOffset >= cardContainer.offsetHeight;
      if (endOfPage) {
        addCards(currentPage + 1);
      }
  
      // if (currentPage === pageCount) {
      //   removeInfiniteScroll();
      // }
    }, 1000);
  };
  
  const removeInfiniteScroll = () => {
    loader.remove();
    document.querySelector('.page-loader').classList.add('hidden');
    window.removeEventListener("scroll", handleInfiniteScroll);
  };
  
  window.onload = function () {
    addCards(currentPage);
  };
  
  window.addEventListener("scroll", handleInfiniteScroll);
});
</script>   

{% schema %}
  {
    "name": "Our Athletes",
    "settings": [  
      {
        "type": "header",
        "content": "Colors"
      },
       {
        "type": "color",
        "id": "content_color",
        "label": "Athletes Overlay Content Color",
         "default":"#fff"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--narrow",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }
    ],
    "blocks":[
      {
        "type":"our-athlets",
        "name":"Athletes",
        "settings":[
          {
            "type": "image_picker",
            "id": "athletes_img",
            "label": "Athletes Image"
          },
          {
            "type": "text",
            "id": "athletes_title",
            "label": "Athletes Title"
          },
          {
            "type": "text",
            "id": "athletes_type",
            "label": "Athletes Type"
          },
          {
            "type": "header",
            "content": "Athletes Details"
          },
          {
            "type": "text",
            "id": "athletes_nation",
            "label": "Athletes Nation"
          },
          {
            "type": "text",
            "id": "athletes_dob_year",
            "label": "Athletes Birth Year"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Our Athletes"
      }
    ]
  }
{% endschema %}