{%- liquid
  assign pole_button_style = settings.pole_button_style
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#PoleLenght--' | append: section.id
  assign animation_delay = 150
-%}
<style>
  #PoleLenght--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  {% if section.settings.polelength_bgimg != blank %}
  .poleLenght-bg {
    background-image: url('{{ section.settings.polelength_bgimg | img_url:'' }}');
    background-repeat: no-repeat;
    background-size: 100%;
  }{% endif %}
  .poleLenght-form-wrapper.has-bg {
    padding-top: 60%;
  }
  .poleLenght-form-wrapper #poleSizeAdvisorForm {
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
    padding: 60px;
  }  
  @media(max-width: 1699px){
    .poleLenght-form-wrapper.has-bg {
      padding-top: 50%;
    }
  }
  @media(max-width: 1440px){
    .poleLenght-form-wrapper.has-bg {
      padding-top: 40%;
    }
  }
  @media(max-width: 1199px){
    .poleLenght-form-wrapper.has-bg {
      padding-top: 30%;
    }
  }
  @media(max-width: 1023px){
    .poleLenght-form-wrapper #poleSizeAdvisorForm{padding: 40px;}
    .poleLenght-form-wrapper.has-bg {padding-top: 25%;}
    .page--pole-length-advisor .featured-collection__top .section__heading{font-size: 36px;line-height: 48px;}
  }
  @media(max-width: 767px){
    .poleLenght-form-wrapper #poleSizeAdvisorForm {
      padding: 40px 24px;
    }
    #PoleLenght--{{ section.id }} {
      --PT: {{ section.settings.mob_padding_top }}px;
      --PB: {{ section.settings.mob_padding_bottom }}px;
    }
    .poleLenght-form-wrapper .form__item p{font-size: 14px;line-height: 20px;}
    .poleLength_calculation h4.title {font-size: 18px;line-height: 26px;}
    .poleLenght-form-wrapper.has-bg {padding-top: 0;}
    .poleLenght-bg{background: none;}
    .poleLenght-mobile-image figure {
      margin: 0;
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 41%;
    }
    .poleLenght-mobile-image figure img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .Pole-length-advisor .wrapper--narrow {padding: 0;}
    #poleSizeAdvisorForm input.btn{margin-top: 20px;}
    .poleLenght-form-wrapper #poleSizeAdvisorForm{box-shadow: 0.5px -3px 5px 2.5px rgba(0, 0, 0, 0.12);}
    .page--pole-length-advisor .featured-collection__top .section__heading{font-size: 24px;line-height: 32px;}
  }
</style>

<section
id="PoleLenght--{{ section.id }}"
class="section-padding"
data-section-type="polelenght-form"
data-section-id="{{ section.id }}">
  {% if section.settings.mob_image != blank %}
    <div class="poleLenght-mobile-image hidden-lg">
      <figure>
        <img class="lazyload" src="{{ section.settings.mob_image | img_url:'' }}" alt="{{ section.settings.mob_image.alt }}">
      </figure>
    </div>
  {% endif %}
  <div class="poleLenght-bg">
  <div class="{{ section_width }}">
    <div class="poleLenght-form-wrapper {% if section.settings.polelength_bgimg != blank %}has-bg{% endif %} poleLength_calculation222">
      <div id="poleSizeAdvisorForm">
        {% if section.settings.title != blank %}
          <div class="form__item form__item--heading"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <h2 class="form__heading h1">{{ section.settings.title }}</h2>          
          </div>
          {% endif %}
        {% if section.settings.content != blank %}
          <div class="form__item form__item--content" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            {{ section.settings.content }}
        </div>
        {% endif %}
        <div class="poleLength_calculation ">
          <h4 class="title" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{{ section.settings.step1_title }}</h4>
          <p {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{{ section.settings.step1_text }}</p>
          {% if settings.option-one != blank or settings.option-two != blank or settings.option-three or settings.option-four or settings.option-five or 
          settings.option-six != blank or settings.option-seven != blank or settings.option-eight != blank or settings.option-nine != blank or settings.option-ten != blank %}
          <div class="custom-select form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            
            {% assign opt_1 = settings.option-one | split: ', ' %}
            {% assign opt_2 = settings.option-two | split: ', ' %}
            {% assign opt_3 = settings.option-three | split: ', ' %}
            {% assign opt_4 = settings.option-four | split: ', ' %}
            {% assign opt_5 = settings.option-five | split: ', ' %}
            {% assign opt_6 = settings.option-six | split: ', ' %}
            {% assign opt_7 = settings.option-seven | split: ', ' %}
            {% assign opt_8 = settings.option-eight | split: ', ' %}
            {% assign opt_9 = settings.option-nine | split: ', ' %}
            {% assign opt_10 = settings.option-ten | split: ', ' %}
            
            <select class="form-control" name="category" id="category">
              {% if settings.option-one != blank %}<option value="{{ opt_1[3] | handle }}" data-title="{{ opt_1[0] | split: '|' }}" data-classic="{{ opt_1[1] }}" data-skate="{{ opt_1[2] }}">{{ opt_1[0] }}</option>{% endif %}
              {% if settings.option-two != blank %}<option value="{{ opt_2[3] | handle }}" data-title="{{ opt_2[0] | split: '|' }}" data-classic="{{ opt_2[1] }}" data-skate="{{ opt_2[2] }}">{{ opt_2[0] }}</option>{% endif %}
              {% if settings.option-three != blank %}<option value="{{ opt_3[3] | handle }}" data-title="{{ opt_3[0] | split: '|' }}" data-classic="{{ opt_3[1] }}" data-skate="{{ opt_3[2] }}">{{ opt_3[0] }}</option>{% endif %}
              {% if settings.option-four != blank %}<option value="{{ opt_4[3] | handle }}" data-title="{{ opt_4[0] | split: '|'}}" data-classic="{{ opt_1[1] }}" data-skate="{{ opt_4[2] }}">{{ opt_4[0] }}</option>{% endif %}
              {% if settings.option-five != blank %}<option value="{{ opt_5[3] | handle }}" data-title="{{ opt_5[0] | split: '|' }}" data-classic="{{ opt_5[1] }}" data-skate="{{ opt_5[2] }}">{{ opt_5[0] }}</option>{% endif %}
              {% if settings.option-six != blank %}<option value="{{ opt_6[3] | handle }}" data-title="{{ opt_6[0] | split: '|' }}" data-classic="{{ opt_6[1] }}" data-skate="{{ opt_6[2] }}">{{ opt_6[0] }}</option>{% endif %}
              {% if settings.option-seven != blank %}<option value="{{ opt_7[3] | handle }}" data-title="{{ opt_7[0] | split: '|' }}" data-classic="{{ opt_7[1] }}" data-skate="{{ opt_7[2] }}">{{ opt_7[0] }}</option>{% endif %}
              {% if settings.option-eight != blank %}<option value="{{ opt_8[3] | handle }}" data-title="{{ opt_8[0] | split: '|' }}" data-classic="{{ opt_8[1] }}" data-skate="{{ opt_8[2] }}">{{ opt_8[0] }}</option>{% endif %}
              {% if settings.option-nine != blank %}<option value="{{ opt_9[3] | handle }}" data-title="{{ opt_9[0] | split: '|' }}" data-classic="{{ opt_9[1] }}" data-skate="{{ opt_9[2] }}">{{ opt_9[0] }}</option>{% endif %}
              {% if settings.option-ten != blank %}<option value="{{ opt_10[3] | handle }}" data-title="{{ opt_10[0] | split: '|' }}" data-classic="{{ opt_10[1] }}" data-skate="{{ opt_10[2] }}">{{ opt_10[0] }}</option>{% endif %}
            </select>
          </div>
          {% endif %}
          <h4 class="title" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{{ section.settings.step2_title }}</h4>
          <p {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{{ section.settings.step2_text }}</p>
            <div class="form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <input type="number" class="form-control height" id="height" name="height" step="1" min="75" max="230" placeholder="Height in cm" required>
            <span style="display: none;" class="error-message">Value must be greater than or equal to 75 and less than or equal to 230.</span>
            </div>
            <span class="divider-line" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>or</span>
            <div class="form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <input type="number" class="form-control height-inch" id="height-inch" name="height-inch" step="1" min="30" max="90" placeholder="Height in inches" required>
            <span style="display: none;" class="error-message inches">Value must be greater than or equal to 30 and less than or equal to 90</span>
            </div>
          {% if settings.pole_button_text %}
            <div class="form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <input type="button" class="btn {{ pole_button_style }} pole_length_getter" onclick="filterClickButton(this)" value="{{ settings.pole_button_text }}">            
            </div>
          {% endif %}
        </div>
        {% if section.settings.info_text != blank %}
        <div class="pole-information" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{%- render 'icon-info' -%}<span>{{ section.settings.info_text }}</span></div>
        {% endif %}
        <div id="poleSizeCalculationResult" class="pole-size-advisor-result hidden">
          <div class="pole-size-advisor-result-wrapper">  
            <div class="result-left-wrap">
              <span>Our Suggestion</span>
              <div id="roundedSize"></div>
              <div id="skateroundedSize"></div>
              <span class="calculated-cm">Exact calculated length:</span>
              <div id="calculatedSize"></div>
              <div id="skateSize"></div>
              <div class="result-btn">
              </div>
            </div>
            <div class="result-right-wrap" data-scroll-lock-scrollable>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var calculateBtn = document.querySelector('.form__item input[type="button"]');
    calculateBtn.onclick = (calbtn) =>{
      var height_val = document.querySelector('.form-control.height').value;
      if(height_val){
        document.querySelector('#poleSizeCalculationResult').classList.remove('hidden');
        var selectElement = document.querySelector('#category');
        var selected_val = selectElement.value;

        for(i=0; i<selectElement.length; i++){
          var optionVal = selectElement.options[i];    
          if (optionVal.value == selected_val) {                
            var classic_val = optionVal.dataset.classic;  
            var skate_val = optionVal.dataset.skate;  
            var get_title = optionVal.dataset.title;  
          }
        }

        var filter_val = get_title.replaceAll(' ','+');
        var getcurrURL = "{{ shop.url }}" + "/collections/all?filter.p.m.custom.sport="+ filter_val +"&filter.p.m.custom.length="+ height_val +"+cm"; 
        var getCurrent = "{{ shop.url }}" + "/collections/all?filter.p.m.custom.sport="+ filter_val +"&filter.p.m.custom.length="+ height_val +"+cm";
    
        document.querySelector('.result-btn').innerHTML = '<a href="#" class="btn" target="_blank">Show all results</a>';
        document.querySelector('.result-btn a').setAttribute('href',getcurrURL);
        getfilterResult(getCurrent);
        
        var classicHeight = Number(height_val * classic_val).toFixed(1);
        var classicroundVal = Math.round(classicHeight);    
        var skateHeight = Number(height_val * skate_val).toFixed(1);
        var skateroundVal = Math.round(skateHeight);        
        if(classic_val && skate_val ){
          document.querySelector('#roundedSize').innerHTML = 'Classic ' + classicroundVal + 'cm';
          if(skateroundVal > 0 ){document.querySelector('#skateroundedSize').innerHTML = 'Skate ' + skateroundVal + 'cm';}
        }else{
          document.querySelector('#roundedSize').innerHTML = classicroundVal + 'cm';
          if(skateroundVal > 0 ){
            document.querySelector('#skateroundedSize').innerHTML = skateroundVal + 'cm';
          }
          else{
            document.querySelector('#skateroundedSize').innerHTML = '';
          }
        }
        if(classic_val && skate_val){
          document.querySelector('#calculatedSize').innerHTML = 'Classic ' + classicHeight + 'cm';
          if(skateHeight > 0 ){document.querySelector('#skateSize').innerHTML = 'Skate ' + skateHeight + 'cm';}
        }else{
          document.querySelector('#calculatedSize').innerHTML = classicHeight + 'cm';
          if(skateHeight > 0){
            document.querySelector('#skateSize').innerHTML = skateHeight + 'cm';
          }
          else{
            document.querySelector('#skateSize').innerHTML = '';
          }
        }
      }
    } 

  });
</script> -->
{% schema %}
  {
    "name": "Pole Length Advisor",
    "class":"Pole-length-advisor",
    "settings": [
      {
        "type": "image_picker",
        "id": "polelength_bgimg",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Iamge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Form heading",
        "default": "Contact us"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Form content"
      },      
      {
        "type": "text",
        "id": "step1_title",
        "label": "Step1 heading"
      },      
      {
        "type": "text",
        "id": "step1_text",
        "label": "Step1 Text",
        "default":"Step1 text"
      },      
      {
        "type": "text",
        "id": "step2_title",
        "label": "Step2 Title",
        "default":"Step1 heading"
      },      
      {
        "type": "text",
        "id": "step2_text",
        "label": "Step2 Text",
        "default":"Step2 text"
      },      
      {
        "type": "text",
        "id": "info_text",
        "label": "Information Text",
        "default":"Step2 text"
      },      
      {
        "type": "header",
        "content": "Result Section"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Reslu Button Text"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--narrow",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }
    ],
    "presets":[
      {
        "name": "Pole Length Advisor"
      }
    ]
  }
{% endschema %}
