{%- liquid
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Sponsorship--' | append: section.id
  assign animation_delay = 150
-%}

<style>
  #Sponsorship--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  .sponsorship-section .wrapper--narrow {
    width: 960px;
  }
  {% if section.settings.sponsorship_bgimg != blank %}
  .Sponsorship-bg {
    background-image: url('{{ section.settings.sponsorship_bgimg | img_url:'' }}');
    background-repeat: no-repeat;
    background-size: 100%;
  }{% endif %}
  .Sponsorship-form-wrapper.has-bg {
    padding-top: 206px;
  }
  .Sponsorship-form-wrapper.has-bg .sponsorship-detail ,.Sponsorship-form-wrapper.has-bg .sponsorship-detail h2{
    text-align: center;
    color: {{ section.settings.content_color }}
  }
  .Sponsorship-form-wrapper.has-bg .sponsorship-detail h2 {
    margin-bottom: 16px;
  }
  .Sponsorship-form-wrapper.has-bg .sponsorship-detail p {
    margin: 0;
    line-height: 24px;
  }
  .Sponsorship-form-wrapper.has-bg .sponsorship-detail {
    margin-bottom: 78px;
  }
  .sponsorship-tabs ul{
    background: {{ section.settings.tab_title_bgclr }};
  }
  .sponsorship-tabs ul li.tab-title{
    background: {{ section.settings.tab_title_bgclr }};
    color: {{ section.settings.tab_titleclr }}
  }
  .sponsorship-tabs ul li.tab-title:hover {
    background: {{ section.settings.title_hvrclr }};
  }
  .sponsorship-tabs ul li.tab-title.active {
    background: {{ section.settings.title_active_bgclr }};
    color: {{ section.settings.title_activeclr }}
  }
  @media(max-width: 1440px){
    .Sponsorship-form-wrapper.has-bg {
      padding-top: 180px;
    }
  }
  @media(max-width: 1023px){
    .Sponsorship-form-wrapper.has-bg {
      padding-top: 120px;
    }
  }
  @media(max-width: 767px){
  #Sponsorship--{{ section.id }} {
    --PT: {{ section.settings.mob_padding_top }}px;
    --PB: {{ section.settings.mob_padding_bottom }}px;
  }
  .Sponsorship-form-wrapper.has-bg {
      padding-top: 98px;
  }
  {% if section.settings.mob_image != blank %}
    .Sponsorship-bg {
      background-image: url('{{ section.settings.mob_image | img_url:'' }}');
    }
  {% endif %}
  }
</style>

<section
id="Sponsorship--{{ section.id }}"
class="section-padding"
data-section-type="Sponsorship-form"
data-section-id="{{ section.id }}">
  <div class="Sponsorship-bg">
    <div class="{{ section_width }}">
      <div class="Sponsorship-form-wrapper {% if section.settings.sponsorship_bgimg != blank %}has-bg{% endif %}">
        <div class="sponsorship-detail" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
          {% if section.settings.title != blank %}<h2 class="h1">{{ section.settings.title }}</h2>{% endif %}
          {% if section.settings.description != blank %}<p>{{ section.settings.description }}</p>{% endif %}
        </div>
        {% if section.blocks.size > 0 %}
        <div class="sponsorship-tabs" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
          <span class="hidden-lg">{{ section.settings.mob_heading }}</span>
          <select class="select-type hidden-lg">
            {% for block in section.blocks %}
              {% if block.settings.tab_title != blank %}<option value="{{ block.settings.tab_title }}" class="tab-title {% if forloop.first %}active{% endif %}" data-id="{{ forloop.index }}">{{ block.settings.tab_title }}</option>{% endif %}
            {% endfor %}
          </select>
          <ul class="hidden-sm" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
            {% for block in section.blocks %}
              {% if block.settings.tab_title != blank %}<li class="tab-title {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.index }}">{{ block.settings.tab_title }}</li>{% endif %}
            {% endfor %}
          </ul>
          <div class="sponsorship-inner-wrap" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
            {% for block in section.blocks %}
              <div class="sponsor-tab-content {% if forloop.first %}active{% endif %}" id="{{ forloop.index }}" data-title="{{ block.settings.tab_title | handle }}">
                {% if block.settings.block_title != blank %}<h2>{{ block.settings.block_title }}</h2>{% endif %}
                {% if block.settings.block_content != blank %}<div class="tab-data"><div class="tab-inner-data" data-height="264">{{ block.settings.block_content }}</div></div><a href='javascript:void(0)' class="readmore hidden-lg" >Read More</a>{% endif %}                
                {% if block.settings.block_highlight != blank %}<div class="tab-highlight">{{ block.settings.block_highlight }}</div>{% endif %}                
                {% if block.settings.form_data != blank %}{{ block.settings.form_data }}{% endif %}
              </div>               
            {% endfor %} 
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
      
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  let buttons = document.querySelectorAll('.tab-title');
  buttons.forEach( tablist => {
    tablist.onclick = function(){
    let contents = document.querySelectorAll('.sponsor-tab-content');
      var dataIndex = Number(this.dataset.tab);
       this.parentElement.querySelectorAll(".tab-title").forEach(function(evtt){
          evtt.classList.remove("active");
        });
       this.parentElement.nextElementSibling.querySelectorAll(".sponsor-tab-content").forEach(function(evt){
         evt.classList.remove("active");
        });
      this.classList.add("active");
      this.parentElement.nextElementSibling.querySelectorAll(".sponsor-tab-content").forEach(function(evt){
       let get_id = (evt.getAttribute('id'));
        if( dataIndex == get_id ){
          evt.classList.add("active");
        }
      });
    }
  });

  let selectType = document.querySelector('.select-type');
  selectType.addEventListener('change', function handleChange(event) {
    var select_val = this.value.replaceAll(' ', '-');
    var handle_val = select_val.toLowerCase();
    event.target.nextElementSibling.nextElementSibling.querySelectorAll(".sponsor-tab-content").forEach(function(evt){
     evt.classList.remove("active");
    });

    event.target.nextElementSibling.nextElementSibling.querySelectorAll(".sponsor-tab-content").forEach(function(evt){
      let get_title = (evt.getAttribute('data-title'));
      if( handle_val == get_title ){
        evt.classList.add("active");
      }
     }); 
  });

  var desc = document.querySelector('.tab-inner-data');  
  var height = desc.clientHeight;   
  var innerheight = Number(desc.getAttribute('data-height'));
    if (height <= innerheight ){
      document.querySelector(".readmore").style.display = "none";
      }
    else{ 
      document.querySelector(".readmore").style.display = "block";
    }
  var readmore = document.querySelectorAll('.readmore');
   readmore.forEach(function(self){
  self.addEventListener('click', () => {
   var readinnertext = self.innerText; 
   var readdesc = self.closest('.sponsor-tab-content').querySelector('.tab-data');    
   readdesc.classList.toggle('showmore');    
    if(readinnertext == 'Read More'){
      self.innerText = 'Read Less';          
    }
    else {
      self.innerText = 'Read More';      
    }
  }); 
   })
});
</script>
{% schema %}
  {
    "name": "Sponshorship Page",
    "class":"sponsorship-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "sponsorship_bgimg",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Iamge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }, 
      {
        "type": "color",
        "id": "tab_titleclr",
        "label": "Tab Title Text Color"
      },
      {
        "type": "color",
        "id": "tab_title_bgclr",
        "label": "Tab Title Background Color"
      },
      {
        "type": "color",
        "id": "title_hvrclr",
        "label": "Tab Title Hover Background Color"
      },
      {
        "type": "color",
        "id": "title_activeclr",
        "label": "Tab Title Active Color"
      },
      {
        "type": "color",
        "id": "title_active_bgclr",
        "label": "Tab Title Active Background Color"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content Color"
      },
      {
        "type": "header",
        "content": "Mobile Select Heading"
      },
      {
        "type": "text",
        "id": "mob_heading",
        "label": "Select Heading"
      }, 
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--narrow",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }     
    ],
    "blocks":[
      {
        "type":"tab-content",
        "name":"Tab Content",
        "settings":[
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Title"
          },
          {
            "type": "text",
            "id": "block_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "block_content",
            "label": "Description"
          },          
          {
            "type": "richtext",
            "id": "block_highlight",
            "label": "Highlight Description"
          },          
          {
            "type": "html",
            "id": "form_data",
            "label": "Add Form ID Div",
            "info": "Info : Copy from the app and add here, Ex: <div style='margin:0 auto;' class='pxFormGenerator' id='S8_WC9jXWK4PZbv8YYgaWA'></div>"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Sponshorship Page"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}