{%- liquid
  assign pole_button_style = settings.pole_button_style
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#PoleLenght--' | append: section.id
  assign animation_delay = 150
-%}
<style>
  #PoleLenght--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  {% if section.settings.polelength_bgimg != blank %}
  .poleLenght-bg {
    background-image: url('{{ section.settings.polelength_bgimg | img_url:'' }}');
    background-repeat: no-repeat;
    background-size: 100%;
  }{% endif %}
  .poleLenght-form-wrapper.has-bg {
    padding-top: 230px;
  }
  .poleLenght-form-wrapper #poleSizeAdvisorForm {
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
    padding: 60px;
  }
  @media(max-width: 1440px){
    .poleLenght-form-wrapper.has-bg {
      padding-top: 180px;
    }
  }
  @media(max-width: 1023px){
    .poleLenght-form-wrapper #poleSizeAdvisorForm{padding: 40px;}
    .poleLenght-form-wrapper.has-bg {padding-top: 120px;}
    .page--pole-length-advisor .featured-collection__top .section__heading{font-size: 36px;line-height: 48px;}
  }
  @media(max-width: 767px){
    .poleLenght-form-wrapper #poleSizeAdvisorForm {
      padding: 40px 24px;
    }
    #PoleLenght--{{ section.id }} {
      --PT: {{ section.settings.mob_padding_top }}px;
      --PB: {{ section.settings.mob_padding_bottom }}px;
    }
    .poleLenght-form-wrapper .form__item p{font-size: 14px;line-height: 20px;}
    .poleLength_calculation h4.title {font-size: 18px;line-height: 26px;}
    .poleLenght-form-wrapper.has-bg {padding-top: 0;}
    .poleLenght-bg{background: none;}
    .poleLenght-mobile-image figure {
      margin: 0;
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 41%;
    }
    .poleLenght-mobile-image figure img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .Pole-length-advisor .wrapper--narrow {padding: 0;}
    #poleSizeAdvisorForm input.btn{margin-top: 20px;}
    .poleLenght-form-wrapper #poleSizeAdvisorForm{box-shadow: 0.5px -3px 5px 2.5px rgba(0, 0, 0, 0.12);}
    .page--pole-length-advisor .featured-collection__top .section__heading{font-size: 24px;line-height: 32px;}
  }
</style>

<section
id="PoleLenght--{{ section.id }}"
class="section-padding"
data-section-type="polelenght-form"
data-section-id="{{ section.id }}">
  {% if section.settings.mob_image != blank %}
    <div class="poleLenght-mobile-image hidden-lg">
      <figure>
        <img class="lazyload" src="{{ section.settings.mob_image | img_url:'' }}" alt="{{ section.settings.mob_image.alt }}">
      </figure>
    </div>
  {% endif %}
  <div class="poleLenght-bg">
  <div class="{{ section_width }}">
    <div class="poleLenght-form-wrapper {% if section.settings.polelength_bgimg != blank %}has-bg{% endif %}">
      <form method="post" action="#" id="poleSizeAdvisorForm">
        {% if section.settings.title != blank %}
          <div class="form__item form__item--heading"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <h2 class="form__heading h1">{{ section.settings.title }}</h2>          
          </div>
          {% endif %}
        {% if section.settings.content != blank %}
          <div class="form__item form__item--content" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            {{ section.settings.content }}
        </div>
        {% endif %}
        <div class="poleLength_calculation">
          <h4 class="title" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>Step 1: Activity </h4>
          <p {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>For which activity do you want to calculate the optimal pole size?</p>
          {% if section.settings.option-one != blank or section.settings.option-two != blank or section.settings.option-three or section.settings.option-four or section.settings.option-five or 
          section.settings.option-six != blank or section.settings.option-seven != blank or section.settings.option-eight != blank or section.settings.option-nine != blank or section.settings.option-ten != blank %}
          <div class="custom-select form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            {% assign opt_3 = section.settings.option-three | split: '-' %}
            <select class="form-control" name="category" id="category">
              {% if section.settings.option-one != blank %}<option value="{{ section.settings.option-one | split: '|' | first }}" data-classic="{{ section.settings.option-one | split: '|' | last }}" data-skate="">{{ section.settings.option-one | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-two != blank %}<option value="{{ section.settings.option-two | split: '|' | first }}" data-classic="{{ section.settings.option-two | split: '|' | last }}" data-skate="">{{ section.settings.option-two | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-three != blank %}<option value="{{ opt_3[0] }}" data-classic="{{ opt_3[1] }}" data-skate="{{ opt_3[2] }}">{{ section.settings.option-three | split: '|' | first }}</option>{% endif %}
              {% if section.settings.option-four != blank %}<option value="{{ section.settings.option-four | split: '|' | first }}" data-classic="{{ section.settings.option-four | split: '|' | last }}" data-skate="">{{ section.settings.option-four | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-five != blank %}<option value="{{ section.settings.option-five | split: '|' | first }}" data-classic="{{ section.settings.option-five | split: '|' | last }}" data-skate="">{{ section.settings.option-five | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-six != blank %}<option value="{{ section.settings.option-six | split: '|' | first }}" data-classic="{{ section.settings.option-six | split: '|' | last }}" data-skate="">{{ section.settings.option-six | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-seven != blank %}<option value="{{ section.settings.option-seven | split: '|' | first }}" data-classic="{{ section.settings.option-seven | split: '|' | last }}" data-skate="">{{ section.settings.option-seven | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-eight != blank %}<option value="{{ section.settings.option-eight | split: '|' | first }}" data-classic="{{ section.settings.option-eight | split: '|' | last }}" data-skate="">{{ section.settings.option-eight | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-nine != blank %}<option value="{{ section.settings.option-nine | split: '|' | first }}" data-classic="{{ section.settings.option-nine | split: '|' | last }}" data-skate="">{{ section.settings.option-nine | split: '-' | first }}</option>{% endif %}
              {% if section.settings.option-ten != blank %}<option value="{{ section.settings.option-ten | split: '|' | first }}" data-classic="{{ section.settings.option-ten | split: '|' | last }}" data-skate="">{{ section.settings.option-ten | split: '-' | first }}</option>{% endif %}
            </select>
          </div>
          {% endif %}
          <h4 class="title" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>Step 2: Your height</h4>
          <p {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>Please tell us your height inclusive the used shoes.</p>
            <div class="form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <input type="number" class="form-control height" id="height" name="height" step="1" min="75" max="230" placeholder="Height in cm" required>
            </div>
          {% if settings.pole_button_text %}
            <div class="form__item" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
            <input type="button" class="btn {{ pole_button_style }}" value="{{ settings.pole_button_text }}">
            </div>
          {% endif %}
        </div>
        {% if section.settings.info_text != blank %}
        <div class="pole-information" {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>{%- render 'icon-info' -%}<span>{{ section.settings.info_text }}</span></div>
        {% endif %}
        <div id="poleSizeCalculationResult" class="pole-size-advisor-result hidden">
          <div class="pole-size-advisor-result-wrapper">  
            <div class="result-left-wrap">
              <span>Our Suggestion</span>
              <div id="roundedSize"></div>
              <span class="calculated-cm">Exact calculated length:</span>
              <div id="calculatedSize"></div>
              <a href="" class="btn">Show All Result</a>
            </div>
            <div class="result-right-wrap">
              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var calculateBtn = document.querySelector('.form__item input[type="button"]');
    calculateBtn.onclick = (calbtn) =>{
      var height_val = document.querySelector('.form-control.height').value;
      if(height_val){
        document.querySelector('#poleSizeCalculationResult').classList.remove('hidden');
        var selectElement = document.querySelector('#category');
        var output = selectElement.value;
        var calclateHeight = Number(height_val * 0.7).toFixed(1);
        var roundVal = Math.round(calclateHeight);
        document.querySelector('#roundedSize').innerHTML = roundVal + 'cm';
        document.querySelector('#calculatedSize').innerHTML = calclateHeight + 'cm';
      }
    }
  });
</script>
{% schema %}
  {
    "name": "Pole Length Advisor",
    "class":"Pole-length-advisor",
    "settings": [
      {
        "type": "image_picker",
        "id": "polelength_bgimg",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Iamge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Form heading",
        "default": "Contact us"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Form content"
      },
      {
        "type":"header",
        "content":"Dropdown"
      },
      {
        "type": "text",
        "id": "option-one",
        "default": "Select option one",
        "label": "Option one",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-two",
        "default": "Select option two",
        "label": "Option two",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-three",
        "default": "Select option three",
        "label": "Option three",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-four",
        "default": "Select option four",
        "label": "Option four",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-five",
        "default": "Select option five",
        "label": "Option five",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-six",
        "default": "Select option six",
        "label": "Option six",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-seven",
        "default": "Select option seven",
        "label": "Option seven",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-eight",
        "default": "Select option eight",
        "label": "Option eight",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-nine",
        "default": "Select option nine",
        "label": "Option nine",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "option-ten",
        "default": "Select option Ten",
        "label": "Option Ten",
        "info":"Note: Title | Classic Value | Skate Value "
      },
      {
        "type": "text",
        "id": "info_text",
        "label": "Information Text"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--narrow",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }
    ],
    "presets":[
      {
        "name": "Pole Length Advisor"
      }
    ]
  }
{% endschema %}
