{%- liquid
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Glovesize--' | append: section.id
  assign animation_delay = 150
-%}

<style>
  #Glovesize--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  {% if section.settings.glovesize_bgimg != blank %}
  .Glovesize-bg {
    background-image: url('{{ section.settings.glovesize_bgimg | img_url:'' }}');
    background-repeat: no-repeat;
    background-size: 100%;
  }{% endif %}
  .Glovesize-form-wrapper.has-bg {
    padding-top: 60%;
  }
  @media(max-width: 1699px){
    .Glovesize-form-wrapper.has-bg {
      padding-top: 50%;
    }
  }
  @media(max-width: 1440px){
    .Glovesize-form-wrapper.has-bg {
      padding-top: 40%;
    }
  }
  @media(max-width: 1199px){
    .Glovesize-form-wrapper.has-bg {
      padding-top: 30%;
    }
  }
  @media(max-width: 1023px){
    .Glovesize-form-wrapper.has-bg {
      padding-top: 25%;
    }
  }
  @media(max-width: 767px){
  #Glovesize--{{ section.id }} {
    --PT: {{ section.settings.mob_padding_top }}px;
    --PB: {{ section.settings.mob_padding_bottom }}px;
  }
    .Glovesize-form-wrapper.has-bg {
      padding-top: 0;
    }
    .Glovesize-bg{background:none;}    
  }
</style>
<section
id="Glovesize--{{ section.id }}"
class="section-padding"
data-section-type="Glovesize-form"
data-section-id="{{ section.id }}">
  {% if section.settings.mob_image != blank %}
    <div class="Glovesize-mobile-image hidden-lg">
      <figure>
        <img class="lazyload" src="{{ section.settings.mob_image | img_url:'' }}" alt="{{ section.settings.mob_image.alt }}">
      </figure>
    </div>
  {% endif %}
  <div class="Glovesize-bg">
    <div class="{{ section_width }}">
      <div class="Glovesize-form-wrapper {% if section.settings.glovesize_bgimg != blank %}has-bg{% endif %}">
        <div class="gloveSizeAdvisorForm">
          {% if section.settings.title != blank %}
          <div class="form__item form__item--heading"
           {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
              <h2 class="form__heading h1">{{ section.settings.title }}</h2>          
          </div>
          {% endif %}
          {% if section.settings.content != blank %}
          <div class="form__item form__item--content" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
              {{ section.settings.content }}
          </div>
          {% endif %}
          <div class="gloves-versionA" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
            <div class="versionA-details">
              {% if section.settings.varsionA_title != blank %}<h3>{{ section.settings.varsionA_title }}</h3>{% endif %}
              {% if section.settings.versionA_content != blank %}{{ section.settings.versionA_content }}{% endif %}
            </div>
            {% if section.settings.versionA_img != blank or section.settings.versionA_mobimg != blank %}
              <div class="versionA-image">
                {% if section.settings.versionA_img != blank %}
                  <img class="lazyload {% if section.settings.versionA_mobimg != blank %}hidden-sm{% endif %}" src="{{ section.settings.versionA_img | img_url:'' }}" alt="{{ section.settings.versionA_img.alt }}">
                {% endif %}
                {% if section.settings.versionA_mobimg != blank %}
                  <img class="lazyload {% if section.settings.versionA_img != blank %}hidden-lg{% endif %}" src="{{ section.settings.versionA_mobimg | img_url:'' }}" alt="{{ section.settings.versionA_mobimg.alt }}">
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="glove-size-chart">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'women-size' %}
                <div class="size-chart-inner" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
                <h4>Women Size</h4>
                  <table>
                   <tr>
                    {% if block.settings.Circumference_title != blank %}<td class="title"><span>{{ block.settings.Circumference_title }}</span></td>{% endif %}
                    <td>
                    <ul>
                    {% if block.settings.cm_1 != blank %}<li>{{ block.settings.cm_1 }}</li>{% endif %}              
                    {% if block.settings.cm_2 != blank %}<li>{{ block.settings.cm_2 }}</li>{% endif %}
                    {% if block.settings.cm_3 != blank %}<li>{{ block.settings.cm_3 }}</li>{% endif %}
                    {% if block.settings.cm_4 != blank %}<li>{{ block.settings.cm_4 }}</li>{% endif %}
                    {% if block.settings.cm_5 != blank %}<li>{{ block.settings.cm_5 }}</li>{% endif %}
                    {% if block.settings.cm_6 != blank %}<li>{{ block.settings.cm_6 }}</li>{% endif %}
                    </ul>
                    </td>
                  </tr>
                  <tr>
                    {% if block.settings.size_title != blank %}<td class="title"><span>{{ block.settings.size_title }}</td></span>{% endif %}
                    <td>
                    <ul>
                    {% if block.settings.size_s != blank %}<li>{{ block.settings.size_s }}</li>{% endif %}            
                    {% if block.settings.size_m != blank %}<li>{{ block.settings.size_m }}</li>{% endif %}
                    {% if block.settings.size_l != blank %}<li>{{ block.settings.size_l }}</li>{% endif %}
                    {% if block.settings.size_xl != blank %}<li>{{ block.settings.size_xl }}</li>{% endif %}
                    {% if block.settings.size_xxl != blank %}<li>{{ block.settings.size_xxl }}</li>{% endif %}
                    {% if block.settings.size_xxxl != blank %}<li>{{ block.settings.size_xxxl }}</li>{% endif %}
                    </ul>
                    </td>
                  </tr>
                  <tr>
                    <td class="title"></td>
                    <td>
                    <ul>
                    {% if block.settings.cm_1 != blank or block.settings.size_s != blank %}<li>S</li>{% endif %}               
                    {% if block.settings.cm_2 != blank or block.settings.size_m != blank %}<li>M</li>{% endif %}
                    {% if block.settings.cm_3 != blank or block.settings.size_l != blank %}<li>L</li>{% endif %}
                    {% if block.settings.cm_4 != blank or block.settings.size_xl != blank %}<li>XL</li>{% endif %}
                    {% if block.settings.cm_5 != blank or block.settings.size_xxl != blank %}<li>XXL</li>{% endif %}
                    {% if block.settings.cm_6 != blank or block.settings.size_xxxl != blank %}<li>XXXL</li>{% endif %}
                    </ul>
                    </td>
                  </tr>                       
                </table>
                </div>
                {% when 'unisex-size' %}
                <div class="size-chart-inner" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
                  <h4>Unisex Size</h4>
                    <table>
                       <tr>
                        {% if block.settings.Circumference_title != blank %}<td class="title"><span>{{ block.settings.Circumference_title }}</td></span>{% endif %}
                        <td>
                        <ul>
                        {% if block.settings.cm_1 != blank %}<li>{{ block.settings.cm_1 }}</li>{% endif %}              
                        {% if block.settings.cm_2 != blank %}<li>{{ block.settings.cm_2 }}</li>{% endif %}
                        {% if block.settings.cm_3 != blank %}<li>{{ block.settings.cm_3 }}</li>{% endif %}
                        {% if block.settings.cm_4 != blank %}<li>{{ block.settings.cm_4 }}</li>{% endif %}
                        {% if block.settings.cm_5 != blank %}<li>{{ block.settings.cm_5 }}</li>{% endif %}
                        {% if block.settings.cm_6 != blank %}<li>{{ block.settings.cm_6 }}</li>{% endif %}
                      </ul>
                      </td>
                      </tr>
                      <tr>
                        {% if block.settings.size_title != blank %}<td class="title"><span>{{ block.settings.size_title }}</td></span>{% endif %}
                        <td>
                        <ul>
                        {% if block.settings.size_s != blank %}<li>{{ block.settings.size_s }}</li>{% endif %}            
                        {% if block.settings.size_m != blank %}<li>{{ block.settings.size_m }}</li>{% endif %}
                        {% if block.settings.size_l != blank %}<li>{{ block.settings.size_l }}</li>{% endif %}
                        {% if block.settings.size_xl != blank %}<li>{{ block.settings.size_xl }}</li>{% endif %}
                        {% if block.settings.size_xxl != blank %}<li>{{ block.settings.size_xxl }}</li>{% endif %}
                        {% if block.settings.size_xxxl != blank %}<li>{{ block.settings.size_xxxl }}</li>{% endif %}
                        </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="title"></td>
                        <td>
                        <ul>
                        {% if block.settings.cm_1 != blank or block.settings.size_s != blank %}<li>S</li>{% endif %}               
                        {% if block.settings.cm_2 != blank or block.settings.size_m != blank %}<li>M</li>{% endif %}
                        {% if block.settings.cm_3 != blank or block.settings.size_l != blank %}<li>L</li>{% endif %}
                        {% if block.settings.cm_4 != blank or block.settings.size_xl != blank %}<li>XL</li>{% endif %}
                        {% if block.settings.cm_5 != blank or block.settings.size_xxl != blank %}<li>XXL</li>{% endif %}
                        {% if block.settings.cm_6 != blank or block.settings.size_xxxl != blank %}<li>XXXL</li>{% endif %}
                        </ul>
                        </td>
                      </tr>  
                    </table>
                  </div>
              {% when 'kids-size' %}
              <div class="size-chart-inner" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
                <h4>Kids/Junior Size</h4>
                <table>
                 <tr>
                  {% if block.settings.Circumference_title != blank %}<td class="title"><span>{{ block.settings.Circumference_title }}</span></td>{% endif %}
                  <td>
                  <ul>
                  {% if block.settings.cm_1 != blank %}<li>{{ block.settings.cm_1 }}</li>{% endif %}              
                  {% if block.settings.cm_2 != blank %}<li>{{ block.settings.cm_2 }}</li>{% endif %}
                  {% if block.settings.cm_3 != blank %}<li>{{ block.settings.cm_3 }}</li>{% endif %}
                  {% if block.settings.cm_4 != blank %}<li>{{ block.settings.cm_4 }}</li>{% endif %}
                  {% if block.settings.cm_5 != blank %}<li>{{ block.settings.cm_5 }}</li>{% endif %}
                  {% if block.settings.cm_6 != blank %}<li>{{ block.settings.cm_6 }}</li>{% endif %}
                  </ul>
                  </td>
                </tr>
                <tr>
                  {% if block.settings.size_title != blank %}<td class="title"><span>{{ block.settings.size_title }}</td></span>{% endif %}
                  <td>
                  <ul>
                  {% if block.settings.size_s != blank %}<li>{{ block.settings.size_s }}</li>{% endif %}            
                  {% if block.settings.size_m != blank %}<li>{{ block.settings.size_m }}</li>{% endif %}
                  {% if block.settings.size_l != blank %}<li>{{ block.settings.size_l }}</li>{% endif %}
                  {% if block.settings.size_xl != blank %}<li>{{ block.settings.size_xl }}</li>{% endif %}
                  {% if block.settings.size_xxl != blank %}<li>{{ block.settings.size_xxl }}</li>{% endif %}
                  {% if block.settings.size_xxxl != blank %}<li>{{ block.settings.size_xxxl }}</li>{% endif %}
                  </ul>
                  </td>
                </tr>
                <tr>
                  <td class="title"></td>
                  <td>
                  <ul>
                  {% if block.settings.cm_1 != blank or block.settings.size_s != blank %}<li>S</li>{% endif %}               
                  {% if block.settings.cm_2 != blank or block.settings.size_m != blank %}<li>M</li>{% endif %}
                  {% if block.settings.cm_3 != blank or block.settings.size_l != blank %}<li>L</li>{% endif %}
                  {% if block.settings.cm_4 != blank or block.settings.size_xl != blank %}<li>XL</li>{% endif %}
                  {% if block.settings.cm_5 != blank or block.settings.size_xxl != blank %}<li>XXL</li>{% endif %}
                  {% if block.settings.cm_6 != blank or block.settings.size_xxxl != blank %}<li>XXXL</li>{% endif %}
                  </ul>
                  </td>
                </tr>    
              </table>
              </div>
            {% endcase %}
          {% endfor %}
          </div>
          <div class="gloves-versionB" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %}>
            <div class="versionB-details">
              {% if section.settings.varsionB_title != blank %}<h3>{{ section.settings.varsionB_title }}</h3>{% endif %}
              {% if section.settings.versionB_content != blank %}{{ section.settings.versionB_content }}{% endif %}
            </div>
          </div>
          {% if section.settings.download_text != blank %}
          <a class="btn download-btn" {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
              {% endif %} href="{% if section.settings.download_link != blank %}{{ section.settings.download_link }}#{% endif %}" target="_blank" rel="noopener noreferrer">{{ section.settings.download_text }}<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99996 12.6836V2.68359M9.99996 12.6836L6.66663 9.35026M9.99996 12.6836L13.3333 9.35026M1.66663 14.3503L2.18413 16.4211C2.27425 16.7817 2.48231 17.1018 2.77523 17.3305C3.06816 17.5593 3.42913 17.6835 3.80079 17.6836H16.1991C16.5708 17.6835 16.9318 17.5593 17.2247 17.3305C17.5176 17.1018 17.7257 16.7817 17.8158 16.4211L18.3333 14.3503" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </svg></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Glove Size Advisor",
    "class":"Glovesize-advisor",
    "settings": [
      {
        "type": "image_picker",
        "id": "glovesize_bgimg",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Iamge"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Form heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Form content"
      },
      {
        "type": "text",
        "id": "varsionA_title",
        "label": "varsionA Title"
      },
      {
        "type": "richtext",
        "id": "versionA_content",
        "label": "varsionA content"
      },
      {
        "type": "image_picker",
        "id": "versionA_img",
        "label": "Size Image"
      },   
      {
        "type": "image_picker",
        "id": "versionA_mobimg",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "varsionB_title",
        "label": "varsionB Title"
      },
      {
        "type": "richtext",
        "id": "versionB_content",
        "label": "varsionB content"
      },
      {
        "type": "url",
        "id": "download_link",
        "label": "Download Link"
      },
      {
        "type": "text",
        "id": "download_text",
        "label": "Download Text"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--narrow",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "mob_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding bottom",
        "default": 60
      }
    ],
    "blocks":[
      {
        "type":"women-size",
        "name":"Women Size",
        "limit":1,
        "settings":[
          {
            "type": "header",
            "content": "Circumference in cm"
          },
          {
            "type": "text",
            "id": "Circumference_title",
            "label": "Women CM Title"
          },
          {
            "type": "text",
            "id": "cm_1",
            "label": "Circumference in cm1"
          },     
          {
            "type": "text",
            "id": "cm_2",
            "label": "Circumference in cm2"
          }, 
          {
            "type": "text",
            "id": "cm_3",
            "label": "Circumference in cm3"
          }, 
          {
            "type": "text",
            "id": "cm_4",
            "label": "Circumference in cm4"
          }, 
          {
            "type": "text",
            "id": "cm_5",
            "label": "Circumference in cm5"
          }, 
          {
            "type": "text",
            "id": "cm_6",
            "label": "Circumference in cm6"
          },
          {
            "type": "header",
            "content": "Women Size"
          },
          {
            "type": "text",
            "id": "size_title",
            "label": "Women Size Title"
          },
          {
            "type": "text",
            "id": "size_s",
            "label": "Size Small"
          },     
          {
            "type": "text",
            "id": "size_m",
            "label": "Size Medium"
          }, 
          {
            "type": "text",
            "id": "size_l",
            "label": "Size Large"
          }, 
          {
            "type": "text",
            "id": "size_xl",
            "label": "Size XL"
          }, 
          {
            "type": "text",
            "id": "size_xxl",
            "label": "Size XXL"
          }, 
          {
            "type": "text",
            "id": "size_xxxl",
            "label": "Size XXXL"
          }
        ]
      },
      {
        "type":"unisex-size",
        "name":"Unisex Size",
        "limit":1,
        "settings":[
          {
            "type": "header",
            "content": "Circumference in cm"
          },
          {
            "type": "text",
            "id": "Circumference_title",
            "label": "Unisex CM Title"
          },
          {
            "type": "text",
            "id": "cm_1",
            "label": "Circumference in cm1"
          },     
          {
            "type": "text",
            "id": "cm_2",
            "label": "Circumference in cm2"
          }, 
          {
            "type": "text",
            "id": "cm_3",
            "label": "Circumference in cm3"
          }, 
          {
            "type": "text",
            "id": "cm_4",
            "label": "Circumference in cm4"
          }, 
          {
            "type": "text",
            "id": "cm_5",
            "label": "Circumference in cm5"
          }, 
          {
            "type": "text",
            "id": "cm_6",
            "label": "Circumference in cm6"
          },
          {
            "type": "header",
            "content": "Unisex Size"
          },
          {
            "type": "text",
            "id": "size_title",
            "label": "Unisex Size Title"
          },
          {
            "type": "text",
            "id": "size_s",
            "label": "Size Small"
          },     
          {
            "type": "text",
            "id": "size_m",
            "label": "Size Medium"
          }, 
          {
            "type": "text",
            "id": "size_l",
            "label": "Size Large"
          }, 
          {
            "type": "text",
            "id": "size_xl",
            "label": "Size XL"
          }, 
          {
            "type": "text",
            "id": "size_xxl",
            "label": "Size XXL"
          }, 
          {
            "type": "text",
            "id": "size_xxxl",
            "label": "Size XXXL"
          }
        ]
      },
      {
        "type":"kids-size",
        "name":"Kids/Junior Size",
        "limit":1,
        "settings":[
          {
            "type": "header",
            "content": "Circumference in cm"
          },
          {
            "type": "text",
            "id": "Circumference_title",
            "label": "Kids/Junior CM Title"
          },
          {
            "type": "text",
            "id": "cm_1",
            "label": "Circumference in cm1"
          },     
          {
            "type": "text",
            "id": "cm_2",
            "label": "Circumference in cm2"
          }, 
          {
            "type": "text",
            "id": "cm_3",
            "label": "Circumference in cm3"
          }, 
          {
            "type": "text",
            "id": "cm_4",
            "label": "Circumference in cm4"
          }, 
          {
            "type": "text",
            "id": "cm_5",
            "label": "Circumference in cm5"
          }, 
          {
            "type": "text",
            "id": "cm_6",
            "label": "Circumference in cm6"
          },
          {
            "type": "header",
            "content": "Kids/Junior Size"
          },
          {
            "type": "text",
            "id": "size_title",
            "label": "Kids/Junior Size Title"
          },
          {
            "type": "text",
            "id": "size_s",
            "label": "Size Small"
          },     
          {
            "type": "text",
            "id": "size_m",
            "label": "Size Medium"
          }, 
          {
            "type": "text",
            "id": "size_l",
            "label": "Size Large"
          }, 
          {
            "type": "text",
            "id": "size_xl",
            "label": "Size XL"
          }, 
          {
            "type": "text",
            "id": "size_xxl",
            "label": "Size XXL"
          }, 
          {
            "type": "text",
            "id": "size_xxxl",
            "label": "Size XXXL"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Glove Size Advisor"
      }
    ]
  }
{% endschema %}