{%- comment -%} Partners section {%- endcomment -%}

{%- liquid
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Accordions--' | append: section.id
  assign animation_delay = 150
-%}
{% if section.blocks.size > 0 %}
  <section class="section-padding wallpaper-section">
    <div class="{{ section_width }}">
      <div class="wallpaper-grid-wrap">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'title' -%}
            <div class="wallpaper-grid-inner-title left-align">
              <h2 {% if animations_enabled %}
                    data-aos="fade-up"
                    data-aos-delay="{{ animation_delay }}"
                    {%- assign animation_delay = animation_delay | plus: 150 -%}
                  {% endif %}>{{ block.settings.partner_category }}</h2>
            </div>
          {%- when 'partners' -%}
            <div class="wallpaper-grid-inner" {% if animations_enabled %}
                    data-aos="fade-up"
                    data-aos-delay="{{ animation_delay }}"
                    {%- assign animation_delay = animation_delay | plus: 150 -%}
                  {% endif %}>
              {% if block.settings.partner_logo != blank %}
                <div class="wallpaper-content">
                  <figure>
                    {% if block.settings.partner_link != blank %}
                      <a href="{{ block.settings.partner_link }}" target="_blank">
                    {% endif %}  
                    <img class="lazyload" src="{{ block.settings.partner_logo | img_url:'' }}" alt="{{ block.settings.partner_logo.alt }}">
                    {% if block.settings.partner_link != blank %}
                      </a>
                    {% endif %} 
                  </figure>
                  <div class="wallpaper-details">
                    <div class="detail-inner paragraph_layout">
                      {% if block.settings.partner_name != blank %}
                        <h3 class="column__item__heading h6">{{ block.settings.partner_name | escape }}</h3>
                      {% endif %}

                      {% if block.settings.partner_description != blank %}
                        <div class="column__item__text rte">{{ block.settings.partner_description }}</div>
                      {% endif %}

                      {% if block.settings.button_text != '' %}
                        <a href="{{ block.settings.partner_link }}" class="column__item__button btn {{ block.settings.button_style }}">
                          {{ block.settings.button_text }}
                        </a>
                      {% endif %}
                    
                    </div>
                    
                  </div>
                </div>
              {% endif %}
            </div>          
        {%- endcase -%}
      {% endfor %}
      </div>
     
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "partners-section",
    "settings": [
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      }
    ],
    "blocks": [
      {
        "type": "partners",
        "name": "Partners",
        "settings": [
          {
            "type": "image_picker",
            "id": "partner_logo",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "partner_name",
            "label": "Heading",
            "default": "Company Name"
          },
          {
            "type": "richtext",
            "id": "partner_description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Link"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Text",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "partner_link",
            "label": "Link"
          }
        ]
      },
      {
        "name":"Title",
        "type":"title",
        "settings": [
          {
            "type": "text",
            "id": "partner_category",
            "label": "Partner Category"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "partner-section"
      }
    ]
  }
{% endschema %}
